---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page - test";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <!-- None hydrated 컴포넌트 -->
  <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} />
  <!-- hydrated 컴포넌트 -->
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>